/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --circle-border-color: #D9D9D9;
    --main-text-color: #000000;
}

a {
    color: var(--main-text-color);
    text-decoration: none;
}

a:visited {
    color: var(--main-text-color);
}

.fa-regular {
    color: var(--main-color)
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/********** Header And Nav Bar ************/
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 61px;
    height: auto;
    padding-top: 30px;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 69px;
}

.nav-link a {
    color: var(--main-text-color);
    text-decoration: none;
}

.nav-link:hover {
    border-top: 2px solid var(--main-color);
    padding-top: 14px;
    color: var(--main-color);
}

/*********** Titre principal ************/

.main {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.main-title {
    margin-bottom: 0px;
}

/********** Recherche ***********/
.searchbox {
    margin-top: 19px;
    display: flex;
    max-width: 377px;
    min-height: 50px;
    border-radius: 100vmax;
}

.location-dot {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    background-color: var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.fa-location-dot {
    font-size: 18px;
    color: var(--main-text-color);
}

#search {
    text-align: start;
    padding-left: 24px;
    width: 195px;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 700;
    border-top: 2px solid var(--main-bg-color);
    border-bottom: 2px solid var(--main-bg-color);
}

input::placeholder {
    color: var(--main-text-color);
    opacity: 1;
}

.searchbox-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    border-radius: 0px 15px 15px 0px;
    border: none;
}

.searchbox-button-text {
    color: white;
    font-weight: 700;
    font-size: 17px;
    padding: 0px 16px;
}

.fa-magnifying-glass {
    position: absolute;
    font-size: 0.1px;
    display: none;
}

/********** Section Filtre **********/
.filter {
    font-size: 18px;
    font-weight: 700;
    margin-top: 35px;
    display: flex;
    gap: 15px;
}

.filter-buttons {
    display: flex;
    gap: 15px;
    min-width: 350px;
    min-height: 50px;
}

.filter button {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 100vmax;
    font-weight: 700;
    font-size: 17px;
    border: 2px solid var(--circle-border-color);
    padding: 0px 15px;
}

.filter button:hover {
    background-color: var(--filter-bg-color);
}

button i {
    margin-right: 11px;
}

.information {
    display: flex;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.cercle-i {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 24px;
    min-height: 24px;
    border: 1px solid var(--circle-border-color);
    border-radius: 50%;
    margin-right: 10px;
}

.fa-info {
    color: var(--main-color);
    font-weight: 700;
}


/********** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px 30px 30px 30px;
    box-sizing: border-box;
}

/********** Hebergements ***********/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.title-hebergements {
    margin-top: 0;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.hebergements-cards .card-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    margin: 8px 0px;
}

.hebergements-cards .card-subtitle {
    font-size: 14px;
    margin: 8px 0px
}

.hebergements-cards .card-rating {
    margin-bottom: 8px;
}

.show-more {
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
}


/*********** Populaires ***********/
.populaires {
    background-color: var(--main-bg-color);
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    font-size: 14px;
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/********** Activités à Marseille **********/
.activity {
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.activity-title {
    margin-bottom: 30px;
}

.activity-cards {
    display: flex;
    gap: 30px;
}

.activity-cards a {
    width: 100%;
}

.activity-cards a .card {
    padding: 0px;
}

.activity-cards a .card-content {
    display: flex;
    align-items: center;
    height: 59px;
}

.activity-cards img {
    height: 380px;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.activity-cards .card-title {
    padding: 19px;
    margin: 0;
}


/************* FOOTER *************/
.footer {
    background-color: var(--main-bg-color);
    display: flex;
    margin-top: 65px;
}

.foot-cols {
    width: 33%;
    margin-left: 20px;
}

.foot-cols-title {
    font-size: 18px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/*********** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {


    .filter {
        flex-direction: column;
        row-gap: 2px;
    }

    .filter-text {
        margin-top: 0px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards a .card {
        margin-top: 20px;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }


    .activity-cards a .card {
        display: flex;
        flex-direction: column;
    }

    .activity-cards img {
        height: 200px;
    }

    .activity-cards a .card-content {
        height: 70px;
    }

    .activity-cards .card-title {
        padding-left: 19px;
        padding-right: 19px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0;
    }

    /********** Header and Nav **********/
    .header-nav {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .navigation {
        width: 100%;
    }

    .nav-list {
        gap: 0px;
        padding: 0px;
    }

    .nav-link-group {
        width: 100%;
        text-align: center;
        border-bottom: 2px solid var(--main-bg-color)
    }

    .nav-link-group:active {
        color: var(--main-color);
        border-bottom: 2px solid var(--main-color);
    }

    .nav-link {
        display: block;
        padding-bottom: 15px;
        font-size: 16px;
    }

    .nav-link:hover {
        padding-top: 0;
        border: none;
    }

    /********** Recherche **********/

    .main-begin {
        padding: 0px 20px;
    }

    .searchbox {
        width: 100%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    #search {
        width: 100%;
        margin-right: 50px;
    }

    .searchbox-button {
        position: absolute;
        left: 83%;
        width: 50px;
        aspect-ratio: 1/1;
        border-radius: 15px;
        margin-right: 20px;
    }

    .fa-magnifying-glass {
        display: inline-block;
        font-size: 16px;
        margin: auto;
        color: white;
    }

    .searchbox-button-text {
        font-size: 1px;
        visibility: hidden;
    }

    /********* Section filtre **********/
    .filter {
        flex-direction: column;
    }

    .filter-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        row-gap: 20px;
        justify-content: center;
    }

    .filter button {
        width: calc(50% - 10px);
        font-size: 14px;
        padding: 17px 19px;
        text-align: start;
    }

    .fa-person,
    .fa-money-bill-1-wave,
    .fa-heart,
    .fa-fire {
        font-size: 22px;
    }

    /********** Hébergement and Populaires **********/

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .information {
        margin: 35px 0px;
    }

    .populaires {
        margin-top: 0px;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .hebergements {
        background-color: white;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
    }

    .hebergements-cards a:nth-child(1) {
        order: 1;
    }

    .hebergements-cards a:nth-child(2) {
        order: 6;
    }

    .hebergements-cards a:nth-child(3) {
        order: 3;
    }

    .hebergements-cards a:nth-child(4) {
        order: 4;
    }

    .hebergements-cards a:nth-child(5) {
        order: 2;
    }

    .hebergements-cards a:nth-child(6) {
        order: 5;
    }

    /********** Activité à Marseille *********/

    .activity-cards {
        flex-direction: column;
    }

    .activity-cards img {
        height: 141px;
    }

    .activity-cards a .card-content {
        height: 59px;
    }

    .footer {
        flex-direction: column;
        width: 100%;
    }

    .foot-cols {
        width: 80%;
        margin-left: 30px;
    }
}

/* Le code ici correspond uniquement à placer le header comme indiqué dans la maquette pour 1440px wide. */

/******* Media queries 1440px ONLY *********/
@media (width:1440px) {
    .header-nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        padding: 0px 30px;
    }

    .main {
        margin-top: 100px;
    }
}